[SERVICE]
    Flush        {{ fluentbit_config.service.flush }}
    Daemon       {{ fluentbit_config.service.daemon }}
    Log_Level    {{ fluentbit_config.service.log_level }}
    Parsers_File {{ fluentbit_config.service.parsers_file }}

[INPUT]
    Name  {{ fluentbit_config.input.name }}
    Path  {{ fluentbit_config.input.path }}
    Tag   {{ fluentbit_config.input.tag }}
    Parser {{ fluentbit_config.input.parser }}

[OUTPUT]
    Name  {{ fluentbit_config.output.name }}
    Match {{ fluentbit_config.output.match }}
    Host  {{ fluentbit_config.output.host }}
    Port  {{ fluentbit_config.output.port }}
    Logstash_Format {{ fluentbit_config.output.logstash_format }}
    Logstash_Prefix {{ fluentbit_config.output.logstash_prefix }}
    Replace_Dots {{ fluentbit_config.output.replace_dots }}
    suppress_type_name On